.navbar-brand {
    font-family: 'Lobster', cursive;
    z-index: 1;
}

.nav-item {
    font-family: 'Ibarra Real Nova', serif;
    z-index: 1;
    font-weight: bold;
}

.jumbotron {
    background-color: transparent;
    height: 100%;
}
 
.content-header {
    margin-top: 10%;
}

.name-header {
    font-family: 'Baskervville', serif;
}

.mastery {
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    font-family: 'Pacifico', cursive;
}

.menu-header {
    font-family: 'Ibarra Real Nova', serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

section {
    min-height: 450px;
}

.card-text {
    font-family: 'Ibarra Real Nova', serif;
}

.card-title {
    font-family: 'Ibarra Real Nova', serif;
}

.form-control {
    font-family: 'Alata', sans-serif;
}